*{
    text-align: center;
    background-color: #181818;
}
h2{
    color: White;
    margin: 0px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
button{
    background-color: #181818;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 20px;
    font-weight: 300;
    outline: none;
    position: absolute;
    z-index: 100;
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: aliceblue !important;
}

.gamefield{
    position: relative;
    z-index: 0;
}

.pretty-container {
    margin: 5% 25% 0% 25%;
    background-color: #6E688E;
    border-radius: 5px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 530;
    color: rgb(238, 238, 238);
    /*opacity: 90%;*/
}

.overlay {
    position: fixed; /* Sit on top of the page content */ /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39, 39, 39, 0.5); /* Black background with opacity */
    z-index: 2;
  }

.centered {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}